#----------------------------------------------------------
# Files Configurations
#----------------------------------------------------------
.env
docker-compose.yml

#----------------------------------------------------------
# Folders configurations
#----------------------------------------------------------
node_modules/
dist/
/vendor/


#----------------------------------------------------------
# Files IDE
#----------------------------------------------------------
.vscode/
.idea/