/* 
    Created on : 04/04/2018, 23:37:32
    Author     : vinicius
    
*/

.title-pg{
    font-size: 2em;
    font-weight: 900;
    font-transform: uppercase;
}

.edit{
   background: #242063; 
}

.delete{
    background: #b12020;  
}

.actions{
   padding: 6px;
   color: #fff;
   text-decoration: none;
   font-size: 1em;
   margin: 0px 2px;
}

.actions{
    text-decoration: none;
}

.btn-add{
    margin: 10px;
}